@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --surface: #ffffff;
  --surface-secondary: #f1f5f9;

  --primary: #0611d7;
  --primary-hover: #d8e4fe;
  --primary-light: #eff6ff;
  --primary-soft: #dbeafe;

  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;

  --border: #e2e8f0;
  --border-light: #f1f5f9;

  --success: #16a34a;
  --success-light: #dcfce7;

  --warning: #d97706;
  --warning-light: #fef3c7;

  --danger: #dc2626;
  --danger-light: #fee2e2;

  --purple: #7c3aed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-secondary: var(--surface-secondary);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-primary-soft: var(--primary-soft);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);
  --color-border-light: var(--border-light);

  --color-success: var(--success);
  --color-success-light: var(--success-light);

  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);

  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);

  --color-purple: var(--purple);
}

/* Typography */

@font-face {
  font-family: "IRANSans";
  src: url("/public/fonts/IRANSansWeb_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("/public/fonts/IRANSansWeb-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("/public/fonts/IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: var(--surface-secondary);
  color: var(--text-primary);
  font-family: "IRANSans", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

